# Ignore .ged files except the ones in tests folder
*.ged
!tests/*.ged

# Ignore generated trees except the .png files in tests folder
*.png
!tests/*.png
*.pdf
*.html

# Other
.DS_Store
__pycache__/
*.pyc