# Ignore .ged files except the ones in tests folder
*.ged
!tests/*.ged

# Ignore generated trees except the .png files in tests folder
*.png
!tests/*.png
*.pdf

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Other
node_modules
dist
dist-ssr
*.local
.env